footer.bg-faded.text-muted.py-3.text-center
    .grid-footer.container
        p Copyright © Austin Kurpuis 2016
        a(href="https://github.com/imaustink/austinkurpuis.com" target="_blank").mb-0 View Source Code