.bg-faded
    .container
        nav.navbar.navbar-toggleable-sm.navbar-light
            button.navbar-toggler.navbar-toggler-right#BurgerMenu
                span.navbar-toggler-icon
            a.navbar-brand.justify-content-start(href='#') AK
            .collapse.navbar-collapse#NavList
                ul.navbar-nav
                    .nav-item
                        a.nav-link(href="#About") About
                    .nav-item
                        a.nav-link(href="#Contact") Contact
                    .nav-item
                        a.nav-link(href="https://github.com/imaustink" target="_blank") Github
                    .nav-item
                        a.nav-link(href="https://www.npmjs.com/~blackmarket" target="_blank") NPM