head
    title Austin Kurpuis - Offical Website
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    style
        include /public/css/main.min.css
