extends /pug/template/base
block content
    .container-fluid.text-center#Hero
        #Particles
        h1.display-3 Austin Kurpuis
        p.lead AWS, Serverless Architecture, Full Stack Development, Node.js, Linux...
    hr
    .container#About
        .row
            .col-12.text-center.pb-3
                h2 About Me
            .col-lg-4
                .card.mb-4
                    img.card-img-top(src="/img/austin-j-kurpuis-in-office.jpeg")
                    .card-block
                        h4.card-titleAustin Kurpuis
                        h6.card-subtitle.mb-2.text-muted Me in the office
                        .card-text
                            ul
                                li Legal Name: Austin Jeffrey Kurpuis
                                li Date Of Birth: 08/26/94
                                li Hight: 6'7"
                                li Hair Color: Dark Brown
                                li Eye Color: Brown
                                li Weapon of Choice: Crossbow
                                li Preferred Desktop OS: Ubuntu
                                li Preferred Mobile OS: Android
            .col-lg-4
                h4 Skills and Abilities
                ul
                    li Full Stack Development
                    li Serverless Architecture
                    li API Architecture
                    li Web Design
                    li Search Engine Optimization
                    li Web Performance Optimization
                    li Software & Hardware Prototyping
                    li Task Automation
                    li Computer Hardware Repair
                    li iOS Device Repair
                    li Networking
                    li Cable Pulling
                h4 Software Experience
                ul
                    li Visual Studio Code
                    li Webstorm
                    li Sublime Text
                    li Git
                    li Terminal
                    li iTerm
                    li HyperTerm
                    li PuTTY
                    li Photoshop
                    li Numbers
                    li Pages
                    li Excel
                    li Open Office
            .col-lg-4
                h4 Platform Experience
                ul
                    li Amazon Web Services
                    li Joyent
                    li Fastly
                    li Twilio
                    li Mandrill
                    li Github
                    li New Relic
                    li Opbeat
                    li Authorize.net
                    li Bluehost
                    li Travis CI
                    li Shopify
                    li BigCommerce
                    li Ordoro
                    li Shipping Easy
                    li Ship Station
                h4 Languages & Frameworks
                ul
                    li JavaScript
                    li HTML
                    li CSS
                    li Less
                    li jQuery
                    li Node.js
                    li MongoDB
                    li Express
                    li Pug (Formerly Jade)
                    li Mocha
                    li Chai
                    li Karma
                    li Gulp
                    li Bash
                    li Shell
                    li C/C++ (Arduino)
    hr
    .container-fluid
        .col-12.text-center#Contact
            h2 Get In Touch
            ul
                li
                    a(href='mailto:austin@austinkurpuis.com') austin@austinkurpuis.com
                li
                    a(href='mailto:austin@typhoslabs.com') austin@typhoslabs.com
                li
                    a(href="https://twitter.com/imaustink" target="_blank") @imaustink